@import url("https://fonts.googleapis.com/css2?family=Anaheim&family=Handlee&display=swap");

a {
  text-decoration: none;
}
html {
  font-family: "Anaheim", sans-serif;
  color: #0B0A0A;
}
main{
  
  box-sizing: border-box;
}

#container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}
#container canvas,
#modal {
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 100;
  background-color: #F4F1EB;
  height: 100vh;
  width: 100vw;
  padding: 3%;
  justify-content: center;
  align-items: center;
}
canvas {
  z-index: 1;
}

input[type='range'] {
  background-color: #F68C4A;
  accent-color: #F68C4A;
  height: 36px;
}

#home {
  width: 100%;
  height: 100%;
  background-color: #f4f1eb;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}
h1 {
  font-family: "Handlee", cursive;
  font-size: 48px;
}
.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.nameForm {
  display: flex;
  align-items: center;
}
.mainButton {
  background-color: #5a9590;
  margin-left: 8px;
  cursor: pointer;
  padding: 0px 16px;
}
@media (max-width: 600px) {
  h1 {
    font-family: "Handlee", cursive;
    font-size: 36px;
    line-height: 36px;
  }
  h2 {
    font-size: 20px;
    line-height: 20px;
  }
  h3 {
    font-size: 16px;
  }
  .formContainer {
    margin-top: 12vh;
  }
  .nameForm {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
.mainButton {
  margin-left: 0px;
  margin-top: 8px;
  /* cursor: pointer; */
  padding: 0px 16px;
  width: 200px;
}
}

.ownedImage {
  height: 240px;
  background-color: #3c3c3c;
  padding: 5%;
}

.image {
  width: 45%;
  height: 115px;
  background-color: #3c3c3c;
  padding: 5%;
}

input {
  /* border:2px solid black; */
  border-radius: 10px;
  border: none;
  height: 50px;
  width: 200px;
  font-size: 20px;
  font-weight: 600;
}
button {
  background-color: #5a9590;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

img {
  object-fit: contain;
  width: 100%;
}

#list {
  background-color: #aeaeae;
  height: 250px;
  overflow: scroll;
  padding: 10px;
}
